### Course Introduction to Data Science in Python
### Assignment2
### Vinicius Henrique | Production engineering

---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    return df['Gold'].idxmax()

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    return abs(df['Gold'] - df['Gold.1']).idxmax()

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    date = df[(df['Gold']!=0) & (df['Gold.1']!=0)]
    var = pd.DataFrame(abs(date['Gold'] - date['Gold.1'])/
             (date['Gold']+date['Gold.1']+date['Gold.2'])).idxmax()[0]
    return var

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    return pd.Series(df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1, name='Points')

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [85]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [8]:
def answer_five():
    #census_df[census_df.index == census_df['SUMLEV'].idxmax()]['STNAME'].values[0]
    return census_df.groupby('STNAME')['COUNTY'].nunique().idxmax()

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    var1 = census_df[census_df.index == census_df['CENSUS2010POP'].sort_values(ascending=False)[:3].index[0]]['STNAME'].values[0]
    var2 = census_df[census_df.index == census_df['CENSUS2010POP'].sort_values(ascending=False)[:3].index[1]]['STNAME'].values[0]
    var3 = census_df[census_df.index == census_df['CENSUS2010POP'].sort_values(ascending=False)[:3].index[2]]['STNAME'].values[0]
    resposta = [var1, var2, var3]
    return resposta

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    #census_df[census_df.index == abs(census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1) - census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)).idxmax()]['STNAME'].values[0]
    result = census_df.copy()
    result = result.reset_index()
    result = result[result['SUMLEV'] == 50]
    cols_to_use = ['POPESTIMATE2010', 
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    result['MinPop'] = result.loc[:, cols_to_use].min(axis=1)
    result['MaxPop'] = result.loc[:, cols_to_use].max(axis=1)
    result['PopDelta'] = result['MaxPop'] - result['MinPop']
    columns_to_keep = ['CTYNAME', 'PopDelta']
    result = result[columns_to_keep].sort_values('PopDelta', ascending=False).reset_index()
    result = result['CTYNAME'].loc[0]
    return result

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    return census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) 
          & (census_df['CTYNAME'].str.startswith('Washington') == True) 
          & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])][['STNAME', 'CTYNAME'] ]

In [198]:
census_df[census_df.index == 
          abs(census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1) - 
              census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1))
          .idxmax()]['STNAME'].values[0]

'Texas'

In [223]:
census_df[census_df.index == abs(census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1) - census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)).sort_values(ascending=False).index[0]]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
2566,40,3,7,48,0,Texas,Texas,25145561,25146105,25244363,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697

In [222]:
abs(census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1) - census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)).sort_values(ascending=False)

2566    2224751
190     1810739
329     1421382
397      501406
1923     483823
2667     429841
3000     427291
98       419857
249      408320
1860     392871
2866     357206
209      344283
106      342350
2356     260252
2470     243714
1238     229386
2821     220493
1213     217992
227      195135
2245     191005
1775     187405
372      184946
2623     179921
3017     179426
1337     178691
2581     174764
2786     165970
1777     161423
223      158740
1804     154132
         ...
2583         41
2459         41
1686         40
2596         39
994          38
2447         38
986          38
1630         37
1676         36
2763         35
2427         35
2697         34
1659         34
2406         33
2057         32
1838         32
1727         31
2717         31
290          31
1684         30
2701         30
2046         29
1725         29
2047         28
1733         28
1719         27
1738         25
306          24
2461         20
560           1
dtype: int64

In [249]:
result = census_df.copy()
result = result.reset_index()
result = result[result['SUMLEV'] == 50]
cols_to_use = ['POPESTIMATE2010', 
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
               'POPESTIMATE2014',
               'POPESTIMATE2015']
result['MinPop'] = result.loc[:, cols_to_use].min(axis=1)
result['MaxPop'] = result.loc[:, cols_to_use].max(axis=1)
result['PopDelta'] = result['MaxPop'] - result['MinPop']
columns_to_keep = ['CTYNAME', 'PopDelta']
result = result[columns_to_keep].sort_values('PopDelta', ascending=False).reset_index()
result = result['CTYNAME'].loc[0]
result

'Texas'

             0
2717        81
560         89
2701       258
2697       407
1684       452
1686       472
1740       475
1659       475
1739       581
96         613
2583       613
1719       614
1767       650
1838       677
306        695
290        695
1676       696
1685       697
2722       702
1727       712
2068       724
1773       750
1738       752
1780       758
2698       764
2028       771
277        774
1733       795
1643       827
2788       837
...        ...
2245   3837972
2667   4108187
1010   4347937
1131   4544951
2356   4635894
0      4785161
249    5048254
624    5199303
1337   5310903
3096   5690204
1213   5788409
1508   5996052
2470   6356585
98     6408208
711    6490590
1238   6565036
3000   6743060
2866   8025787
1804   8803881
1923   9558979
397    9713454
209    9826009
1253   9876589
2078  11540766
2282  12712014
608   12841249
329   18849890
1860  19402920
2566  25244363
190   37334079

[3193 rows x 1 columns]